
/* body */
 body {
    width: 100%;
    background-color: blanchedalmond;
    z-index: -1;
    font-family: Calibri, serif;
}


p {
    color: maroon;
}


.header {
    display: inline-block;
    width: 100%;
}
 /* logo animation using css */
.logo {
    position: absolute;
    top: 15px;
    animation-name: movingLogo;
    animation-duration: 4s;
    animation-iteration-count: initial;
}
.logo img{

    float: left;
    width: 14%;
    height: 132px;
    border-radius: 12px;
    margin-top: 20px;

   /* box-shadow: 10px 10px 20px goldenrod; */

}
.mainimage img{
    display: block;
    float: right;
    width: 25%;
    height: 200px;
    border-radius: 12px;
   /* margin-top: 30px; */
    margin-bottom: -20px;

}


/*logo animation
@keyframes movingLogo {
    0% {
        left: 100px;
        transform: rotate(0deg);
    }
    0% {
        left: 100px;
        transform: rotate(90deg);
    }
    0% {
        left: 100px;
        transform: rotate(180deg);
    }
    0% {
          left: 100px;
          transform: rotate(270deg);
      }
    0% {
        left: 100px;
        transform: rotate(360deg);
    }
}
*/

/* page headings */
#dogfp {
	font-size: 50px;
    text-shadow: 3px 3px 5px goldenrod;
	text-align: center;
	font-weight: bold;
	color: green;
    height: auto;
    padding: 10px;
    margin-left: 25%;
    margin-right: 30%;
    margin-top: 3%;
}


/* Menu */
#nav ul {
    display: block;
    list-style-type: none;
    margin-bottom: -2px;
    padding: 0;
    overflow: hidden;
    background-color: maroon;

}
/*nav bar*/
#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*hover */
#nav li a:hover {
    background-color: #4CAF50;
}

#nav .active {
    background-color: #4CAF50;
}

/* footer */
#footer {
    background-color: maroon;
    text-align: center;
    color: white;
}
/*welcome picture*/
#welcome {
    height: auto;
    max-width: 90%;
}

/* main */
#maintable {
    width: 100%;
}

#leftside {
    width: 20%;
    vertical-align: top;
    margin-right: -10px;
    z-index: -1;

}

#rightside {
    width: 20%;
    vertical-align: top;
    alignment: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3%;
    padding-left: 3%;


}

#sideAdv {
    width: 380px;
    overflow: hidden;
    text-align: center;

}

#sideImage {
    height: 700px;
    position: relative;
    vertical-align: top;
  /*  padding-top: 10px; */
    opacity: 90%;
    z-index: -1;

}
/* texts inside the leftside image*/
#text1 {
    position: relative;
    top: -300px;
    font-size: 50px;
    font-weight: bold;
    color:#4CAF50;
}

#text2 {
    position: relative;
    top: -400px;
    font-size: 40px;
    font-weight: bold;
    color:maroon;
    display: none;
}

/* For main */
.product {
    width: 150px;
    display: inline-block;
    margin: 20px;
    height: 150px;

}

#middlecontent {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    alignment: center;
    color: maroon;
    padding-left: 5%;
    margin-left: auto;
    margin-right: auto;

}
.w3-table-all {
    display: block;
    vertical-align: top;
    margin-bottom: 20px;
    color: maroon;
    box-shadow: 10px 10px 20px goldenrod;
    text-align: center;
    alignment: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Calibri;
}

.w3-input{
    border-radius: 16px;
    text-align: center;
    color: maroon;
    margin: 4px 2px;

}

.w3-container{
    border-radius: 12px;
    color: maroon;
    vertical-align: top;
    text-align: center;

}
.product img {
    width: 120px;
    height: 130px;
    margin-bottom: 20px;
}

.qty {
    width: 30px;
}

.cartInput {
    width: 20px;
}

/* Registration Form Layout */
.row {
    display: block;
    float: left;
    text-align: left;
    color:maroon;
    margin-top: 20px;
    margin-bottom: 20px;
}
.regform {
    display: block;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 30%;
}

.input {
    display: inline-block;
    margin-left: 100px;
    float: right;
    text-align: left;
    color: maroon;
}
.input-hover:hover{
    background-color: maroon;
    color: white;
}


.regpic {
    position:fixed;
    top: 30%;
    left: 60%;
    width:auto;
    height:auto;
    //z-index: 2;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 20px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}
.button {
    background-color: white;
    color: maroon;
    border: 2px solid maroon;
}

.button:hover {
    background-color: maroon;
    color: white;
}
.button a{
    text-decoration: none;
}
#sideAdv{
    position: -webkit-sticky;
    position:sticky;
    top:0px;
}
#rightAdv{
    position: -webkit-sticky;
    position:sticky;
    top:0px;
}
/*#nav {
    position: -webkit-sticky;
    position:sticky;
    top:0;
}*/
#quote {
    width: 90%;
    height: auto;
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
   /* border: 8px solid goldenrod; */
    border-radius: 12px;
    color: #4CAF50;
    font-size:40px;
    font-weight:bold;
    line-height: 1;
    text-align: center;
    background-color:white;
    box-shadow: 10px 10px 20px goldenrod;
    alignment: center;
}